*{  
    box-sizing: border-box;
}
body{
    background-color: rgb(28, 29, 29);
    padding: 1.5rem;
}

.Quiz-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 2rem;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 2px white solid;
    background-color: darkcyan;
    color: white;
    outline: none;
  
   
}
form{
    padding: 2rem;
}
.Question-container{
    padding: 1rem;
}
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(231, 113, 17);
    width: auto;
    border-radius: 5px;
    height: 4rem;
    border:solid 4px cornsilk;

}

a{
    text-decoration: none;
    padding: 1rem;
    color: white;
    font-weight: bolder;
    font-size: 0.9rem;
}
.active{
    color: red;
}
.input-field{
    background-color: rgba(0, 255, 255, 0.507);
    display: flex;
    margin: 10px;
    width: 50%;
    height: 3rem;
    align-items: center;
    margin-left: 450px;
    border-radius: 5px;
    border: solid 3px rgb(88, 208, 230);

}
#output{
    background-color: beige;
    border-radius: 5px;
    width: 300px;
    height: 3rem;
    color: cadetblue;
    margin-top: 15px;
    justify-content: center;
    align-content: center;
}
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-content: center;
        color: cornsilk;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .angle-input{
        background-color: rgb(255, 255, 255);
        width: 80%;
        height: 2rem;
        border-radius: 5px;
        border: none;
        margin-left: 15px;
        
    }
    .angle1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 400;
        margin-left: 10px;
        color: white;
    }
